<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="RTLNL" value="https://rtl-nl.pkgs.visualstudio.com/_packaging/Rtl.PackageFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <RTLNL>
      <add key="Username" value="Any" />
      <add key="ClearTextPassword" value="$$PAT$$" />
    </RTLNL>
  </packageSourceCredentials>
</configuration>